* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Palanquin", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.flash__inner-content .table__body-items .table-row li:nth-child(3) input, .inputs__inner-content .content-list__item input {
  width: 180px;
  height: 40px;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 16px;
  color: #9fb0c4;
  background-color: #07121a;
  border: 1px solid #294155;
  border-radius: 40px;
}

.sizing__inner-btn input, .factor__inner-btn input, .flash__inner-btn input, .inputs__inner-btn input {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffb84d;
  border: 1px solid #294155;
  border-radius: 40px;
  cursor: pointer;
}

/* ALERT */
.alert-blur {
  display: block;
  position: fixed;
  inset: 0px 0px 0px 0px;
  z-index: 98;
  backdrop-filter: blur(4px);
}

.alert-el {
  width: 350px;
  padding: 16px;
  background-color: gainsboro;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
}

.alert-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  margin: 0;
}

.alert-body {
  font-size: 18px;
}

.alert-input {
  width: 80px;
  height: 30px;
  color: white;
  background-color: rgb(69, 69, 241);
  border: 1px solid gainsboro !important;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(125, 124, 124);
}

.alert-input:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 3px rgb(125, 124, 124);
}

/* ALERT */
.header {
  background-color: #1a2b3c;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__inner-title h2 {
  font-size: 20px;
}
.header__inner-title h3 {
  font-size: 12px;
}
.header__inner-schematic {
  width: 182px;
  height: 66px;
  border: 1px solid #2b3b4b;
  border-radius: 10px;
  padding: 9px 13px;
  margin-left: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__inner-schematic .schematic-title {
  margin-left: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__inner-schematic .schematic-title span {
  font-size: 12px;
}
.header__inner-schematic .schematic-pic {
  width: 70px;
  height: 48px;
}
.header .kbtu-logo {
  width: 400px;
  height: 80px;
}
.header .kbtu-logo img {
  width: 100%;
  height: 100%;
}

.inputs {
  height: 633px;
  background-color: #0e1a26;
  margin: 30px 0;
}
.inputs__inner {
  padding: 22px 38px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.inputs__inner-head {
  width: 100%;
}
.inputs__inner-head .title h2 {
  font-size: 18px;
}
.inputs__inner-head .paragraphs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.inputs__inner-head .paragraphs .paragraph {
  font-size: 14px;
  color: #9fb0c4;
}
.inputs__inner-content {
  color: #9fb0c4;
}
.inputs__inner-content .content-list {
  font-size: 14px;
  margin: 24px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-wrap: wrap;
}
.inputs__inner-content .content-list__item {
  margin-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.inputs__inner-content p {
  font-size: 14px;
}
.inputs__inner-btn input:hover {
  font-size: 19px;
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 3px #ffb84d;
}
.inputs__inner-btn input:active {
  opacity: 1.2;
}

.flash {
  margin-top: 30px;
  background-color: #0e1a26;
}
.flash__inner {
  padding: 22px 38px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flash__inner-form {
  width: 100%;
}
.flash__inner-head {
  width: 100%;
}
.flash__inner-head .title h2 {
  font-size: 18px;
}
.flash__inner-head .paragraphs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flash__inner-head .paragraphs .paragraph {
  font-size: 14px;
  color: #9fb0c4;
}
.flash__inner-content {
  margin-top: 24px;
}
.flash__inner-content .table {
  color: #cbd5e1;
}
.flash__inner-content .table__head .head__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flash__inner-content .table__body {
  margin-top: 24px;
}
.flash__inner-content .table__body-items .table-row {
  padding: 10px 0;
  border-top: 1px solid #294155;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flash__inner-content .table__body-items .table-row li:first-child {
  width: 10%;
}
.flash__inner-content .table__body-items .table-row li:nth-child(2) {
  width: 7%;
}
.flash__inner-content .table__body-items .table-row li:nth-child(3) {
  width: 14%;
}
.flash__inner-content .table__body-items .table-row li:nth-child(4) {
  width: 19%;
}
.flash__inner-content .table__foot {
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flash__inner-content .table__foot .card {
  padding: 16px;
  background-color: #071726;
}
.flash__inner-content .table__foot .card h5 {
  font-size: 14px;
}
.flash__inner-content .table__foot .card span {
  font-size: 18px;
  color: #ffffff;
}
.flash__inner-content .table__foot .card p {
  font-size: 12px;
}
.flash__inner-btn input:hover {
  font-size: 19px;
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 3px #ffb84d;
}
.flash__inner-btn input:active {
  opacity: 1.2;
}

.factor {
  margin-top: 30px;
  background-color: #0e1a26;
}
.factor__inner {
  padding: 22px 38px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.factor__inner-form {
  width: 100%;
}
.factor__inner-head {
  width: 100%;
}
.factor__inner-head .title h2 {
  font-size: 18px;
}
.factor__inner-head .paragraphs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.factor__inner-head .paragraphs .paragraph {
  font-size: 14px;
  color: #9fb0c4;
}
.factor__inner-content {
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.factor__inner-content .card {
  width: 200px;
  height: 140px;
  padding: 16px;
  background-color: #071726;
}
.factor__inner-content .card h5 {
  font-size: 14px;
}
.factor__inner-content .card span {
  font-size: 18px;
  color: #ffffff;
}
.factor__inner-content .card p {
  font-size: 12px;
}
.factor__inner-btn input:hover {
  font-size: 19px;
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 3px #ffb84d;
}
.factor__inner-btn input:active {
  opacity: 1.2;
}

.sizing {
  margin-top: 30px;
}
.sizing__inner {
  padding: 22px 38px;
  color: #ffffff;
  background-color: #0e1a26;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.sizing__inner-form {
  width: 100%;
}
.sizing__inner-head {
  width: 100%;
}
.sizing__inner-head h2 {
  font-size: 18px;
}
.sizing__inner-btn input {
  margin-top: 16px;
}
.sizing__inner-btn input:hover {
  font-size: 19px;
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 3px #ffb84d;
}
.sizing__inner-btn input:active {
  opacity: 1.2;
}
.sizing__inner-content .items-list .item {
  margin-top: 24px;
  margin-left: 10%;
  background-color: none;
}
.sizing__inner-content .items-list .item .formula {
  background-color: initial;
}
.sizing__inner-content .items-list .item h6 {
  font-size: 16px;
  color: #9fb0c4;
}
.sizing__inner-content .items-list .item math:not(math:first-child) {
  margin-top: 24px;
}

.footer {
  margin-top: 30px;
  background-color: #1a2b3c;
}
.footer__inner {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer__inner-title h2 {
  font-size: 20px;
}
.footer__inner-title h3 {
  font-size: 12px;
}

body {
  background-color: #0f1720;
}/*# sourceMappingURL=style.css.map */