@use 'abstracts' as *;

.footer {
  margin-top: 30px;
  background-color: $header-bg;

  &__inner {
    color: $white;
    @include flex(flex-start, center);

    &-title {
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 12px;
      }
    }
  }
}
